## Importing Libraries

In [34]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
import pandas as pd

## Connection fuctions

#### Snowflake Connection

In [35]:
snow_Cred = {
    'user' : 'Some_User',
    'password' : 'my_password',
    'account': 'og01584.eu-central-1',
    'warehouse': 'COMPUTE_WH',
    'database': 'MY_DATABASE',
    'schema': 'MY_SCHEMA',
    'role': 'sysadmin'
}

snow_engine = create_engine(URL(
    account = snow_Cred['account'],
    user = snow_Cred['user'],
    password = snow_Cred['password'],
    database = snow_Cred['database'],
    schema = snow_Cred['schema'],
    warehouse = snow_Cred['warehouse'],
    role= snow_Cred['role']
))


snow_connection = snow_engine.connect()
snow_connection

#### Postgres Connection

In [30]:
%%time

uid = 'postgres'
pwd = 'pwd'
server = 'localhost'
port = 5432
database = 'my_db'


pg_engine = create_engine(f'postgresql://{uid}:{pwd}@{server}:{port}/{database}')
pg_engine

CPU times: user 330 µs, sys: 0 ns, total: 330 µs
Wall time: 334 µs

Engine(postgresql://postgres:***@localhost:5432/test_spark)

## SQL Operations

#### Snowflake Operations

In [9]:
%%time

"""
The below code creates a simple table, insert some data into it, and uses pandas to read the inserted data
"""

try:
    #snow_connection.execute("CREATE OR REPLACE TABLE sno_engine_conn(name varchar, street_number integer, street_name varchar)")
    snow_connection.execute("INSERT INTO sno_engine_conn(name, street_number, street_name) values(%s,%s, %s)", ('Ndisang ', 99, 'Azire'))
    df = pd.read_sql_query("SELECT * FROM sno_engine_conn", snow_engine)
    print(df)
except Exception as error:  
    print('SOME ERROR')
    print(error)
    sys.exit(1)     
"""
finally:
    snow_connection.close()
    snow_engine.dispose()
"""

               name  street_number            street_name
0            Alicia             46  Rue Palicos del Mundo
1             Lucas              0  Rue Palicos del Mundo
2             Maxes             10                 Alteca
3             Denis             19      Rue Bercy Trinity
4  Carlos Martinez              86      Rue Almondo Palas
5              Vad              86                  Azire
6          Ndisang              99                  Azire
CPU times: user 18.4 ms, sys: 3.38 ms, total: 21.8 ms
Wall time: 1.08 s

'\nfinally:\n    snow_connection.close()\n    snow_engine.dispose()\n'

### Using pd for the above operation

In [31]:
%%time
#Creatin the data 

snw_df = pd.DataFrame([('Vadrama', 90, 'Meta Quarters'), ('Vadramson', 100, 'Commercial Avenu'), ('NGYIBI', 89, 'Avenue des Champs-Élysées')], columns=['name', 'street_number', 'street_name'])
snw_df

CPU times: user 556 µs, sys: 25 µs, total: 581 µs
Wall time: 565 µs

        name  street_number                street_name
0    Vadrama             90              Meta Quarters
1  Vadramson            100           Commercial Avenu
2     NGYIBI             89  Avenue des Champs-Élysées

In [12]:
%%time

"""
The below code creates or replaces a simple table and insert some data into it.
"""

try:
    tab = 'snw_engine_conn_insert'
    schema = 'my_schema'
    #snw_df.to_sql('snw_engine_conn_insert', con=snow_engine, schema='replace', index=False, if_exists='append') # Use replace to Truncate and Insert
    snw_df.to_sql(tab, con=snow_engine, schema=schema, index=False, if_exists='append')
except Exception as error:
    print('Error Occured')
    print(error)
    sys.exit(1)

CPU times: user 39 ms, sys: 7 ms, total: 46 ms
Wall time: 1.44 s

In [37]:
%%time

"""
The below code creates or replaces a simple table and insert some data into it.
"""

try:
    tab = 'snw_engine_conn_insert_from_select'
    schema = 'MY_SCHEMA'
    #snw_df.to_sql('snw_engine_conn_insert', con=snow_engine, schema='replace', index=False, if_exists='append') # Use replace to Truncate and Insert
    snw_slc_df = pd.read_sql_query("SELECT * FROM snw_engine_conn_insert", snow_engine)
    print(snw_slc_df)
    snw_slc_df.to_sql(tab, con=snow_engine, schema=schema, index=False, if_exists='replace')
except Exception as error:
    print('Error Occured')
    print(error)
    sys.exit(1)

        name  street_number                street_name
0    Vadrama             90              Meta Quarters
1  Vadramson            100           Commercial Avenu
2     NGYIBI             89  Avenue des Champs-Élysées
CPU times: user 88.1 ms, sys: 15.8 ms, total: 104 ms
Wall time: 3.36 s

In [25]:
%%time

"""
The below code takes data from Postgres, creates or replaces a simple table in Snowflake and insert's the data into it.
"""

try:
    target_tab = 'data_from_pg_to_snw'
    source_tab = 'wallet_pg'
    schema = 'MY_SCHEMA'
    snw_slc_to_pg_df = pd.read_sql_query("SELECT * FROM "+ source_tab, pg_engine)
    snw_slc_to_pg_df.to_sql(target_tab, con=snow_engine, schema=schema, index=False, if_exists='append')
except Exception as error:
    print('Error Occured')
    print(error)
    sys.exit(1)

CPU times: user 233 ms, sys: 14.6 ms, total: 248 ms
Wall time: 1.92 s

### Posgres Operations

In [24]:
%%time

"""
The below code takes data from snowflake, creates or replaces a simple table in Postgres and insert's the data into it.
"""

try:
    tab = 'snw_engine_conn_insert_pg'
    snw_slc_to_pg_df = pd.read_sql_query("SELECT * FROM snw_engine_conn_insert", snow_engine)
    snw_slc_to_pg_df.to_sql(f'{tab}', pg_engine, if_exists='replace', index=False)
except Exception as error:
    print('Error Occured')
    print(error)
    sys.exit(1)

CPU times: user 218 ms, sys: 10.8 ms, total: 229 ms
Wall time: 633 ms

In [26]:
tab

'snw_engine_conn_insert_pg'

In [32]:
try:
    tab = 'snw_engine_conn_insert_pg'
    snw_slc_to_pg_df = pd.read_sql_query("SELECT * FROM snw_engine_conn_insert", snow_engine)
    #snw_slc_to_pg_df.to_sql(f'{tab}', pg_engine, if_exists='replace', index=False)
except Exception as error:
    print('Error Occured')
    print(error)
    sys.exit(1)

In [ ]:
# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(pdf)
print(df.schema)
df.show()